<!-- begin header -->
<header class="header">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {% if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}" style="max-height: 55px !important; width: auto !important; display: block !important;">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">

              {% for item in site.data.settings.menu__settings.menu__items %}
                {% if item.submenu %}
                <li class="nav__item dropdown">
                  <span class="nav__link dropdown-toggle">{{ item.title }} <i class="ion ion-ios-arrow-down arrow-down"></i></span>
                  <div class="dropdown-menu">
                    {% for submenu-item in item.submenu %}
                      <a href="{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                    {% endfor %}
                  </div>
                </li>
                {% else %}
                <li class="nav__item">
                  {% if item.button %}
                    {% if item.title == 'Book a Call' %}
                      {% include google-calendar-button.html %}
                    {% else %}
                      {% if item.url contains 'http' %}
                      <a href="{{ item.url }}" target="_blank" class="nav__link nav__link--button{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                      {% else %}
                      <a href="{{ item.url | relative_url }}" class="nav__link nav__link--button{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                      {% endif %}
                    {% endif %}
                  {% else %}
                    {% if item.url contains 'http' %}
                    <a href="{{ item.url }}" target="_blank" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                    {% else %}
                    <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
                    {% endif %}
                  {% endif %}
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </nav>

        <div class="nav-button">
          <div class="hamburger">
            <div></div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->