{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__content">
          <div class="hero__badge">{{ site.data.settings.hero.hero__badge }}</div>
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          
          {% if site.data.settings.mailchimp.enable == true %}
          <p class="hero__cta-intro">Hello. Are you looking for ways to accelerate growth?</p>
          <div class="hero__buttons">
            {% include google-calendar-button-hero.html %}
            <a href="mailto:nicola@sdw.solutions" target="_blank" class="button button--primary" onclick="gtag_report_conversion(); gtag('event', 'email_contact', {event_category: 'engagement', event_label: 'email_start', value: 1.0}); trackCTA('Email me to Start', 'Hero Section'); twq('event', 'tw-qfk70-qfk72', {contents: [{content_type: 'service', content_name: 'AI Growth Consultation', content_price: '0'}], status: 'started'});">Email me to Start</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
    
  </div>
</section>
<!-- end hero -->
{% endif %}