{% if site.data.settings.hero.enable == true %}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__content">
          <div class="hero__badge">{{ site.data.settings.hero.hero__badge }}</div>
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
          
          {% if site.data.settings.mailchimp.enable == true %}
          <p class="hero__cta-intro">Hello. Are you looking for ways to accelerate growth?</p>
          <div class="hero__buttons">
            <a href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0fakbJiTFTnP2psXCdItY2EbGQslNZ0JoSN2Ah3sOpMkiWi--1mbMt6DiKjzUOLz_Ffatm25Uv" target="_blank" class="button button--secondary" onclick="trackCTA('Book a Call', 'Hero Section')">Book a Call</a>
            <a href="mailto:nicola@sdw.solutions" target="_blank" class="button button--primary" onclick="trackCTA('Email me to Start', 'Hero Section')">Email me to Start</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    
    
  </div>
</section>
<!-- end hero -->
{% endif %}