<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  <!-- Landing page content will include its own header -->

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
  <script src="{{ site.baseurl }}/js/cookie-consent.js"></script>
</body>

</html>
